In [5]:
# input necessary library
library(lubridate)
library(DBI) # DB connection

Attaching package: 'lubridate'


The following object is masked from 'package:base':

    date

## Ridership extraction

In [ ]:
# Input the credential files for accessing database
CERT = "D:/MBTA/movement/postgresql/zhuohan.crt"
KEY = "D:/MBTA/movement/postgresql/zhuohan.key"
ROOTCERT = "D:/MBTA/movement/postgresql/root-ca.crt"
USER = "zhuohan"
PASSWORD = "5irmwhg382aae"

In [2]:
# Ridership extraction from MBTA database
con <- dbConnect(RPostgres::Postgres(), host="mbta01.mghpcc.org", port="5432", dbname = "mbta_dw",
                     sslcert = CERT, sslkey = KEY, sslrootcert = ROOTCERT,
                     sslmode="verify-full", user = USER, password = PASSWORD)
rs = dbSendQuery(con,statement = ("SELECT * FROM ridership.tableau_r"))
df = dbFetch(rs, n = -1)

## Basic analysis and experiments

In [36]:
# Add time scale columns to filter the ridership in 2019 and 2020
df$Year = year(df$servicedate)
df$Month = month(df$servicedate)
df$Day = day(df$servicedate)

In [47]:
# Filter 2019 dataset
ridership_19 = subset(df,df$Year == "2019",select=c(halfhour,route_or_line,rawtaps_split,Year,Month,Day))
ridership_19 = ridership_19[-which(ridership_19$route_or_line == "Bus" | ridership_19$route_or_line == "Silver Line"),]

In [52]:
ridership_20 = subset(df,df$Year == "2020",select=c(halfhour,route_or_line,rawtaps_split,Year,Month,Day))
ridership_20 = ridership_20[-which(ridership_20$route_or_line == "Bus" | ridership_19$route_or_line == "Silver Line"),]

Warning message in ridership_20$route_or_line == "Bus" | ridership_19$route_or_line == :
"longer object length is not a multiple of shorter object length"

In [53]:
head(ridership_20)

        halfhour            route_or_line rawtaps_split Year Month Day
4534651 2020-02-13 19:30:00 Red Line       12.0         2020 2     13
4534652 2020-02-13 19:30:00 Red Line       60.0         2020 2     13
4534653 2020-02-13 19:30:00 Red Line      364.7         2020 2     13
4534654 2020-02-13 19:30:00 Silver Line   105.0         2020 2     13
4534655 2020-02-13 19:30:00 Silver Line    13.0         2020 2     13
4534656 2020-02-13 19:30:00 Red Line      292.0         2020 2     13