In [1]:
#necessary library
library(data.table) #fread
library(lubridate)
library(reshape2)
library(dplyr)
library(scales)
library(stringr)
library(tidyr) # spread function
#library(tidyverse)

Warning message:
"package 'data.table' was built under R version 3.6.3"

Attaching package: 'lubridate'


The following objects are masked from 'package:data.table':

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following object is masked from 'package:base':

    date


Warning message:
"package 'reshape2' was built under R version 3.6.3"

Attaching package: 'reshape2'


The following objects are masked from 'package:data.table':

    dcast, melt


Warning message:
"package 'dplyr' was built under R version 3.6.3"

Attaching package: 'dplyr'


The following objects are masked from 'package:lubridate':

    intersect, setdiff, union


The following objects are masked from 'package:data.table':

    between, first, last


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"package 'scales' was built under R version 3.6.3"
Warning message:
"package 'tidyr' was built under R version 3.6.3"

Attaching package: 'tidyr'


The following object is masked from 'package:reshape2':

    smiths

In [2]:
# Select the month you want to investigate
YEARLIST =("19")
MONTHLIST = c("04")
DISTANCE_FILEPATH = "F:/data/tidy/vehicle-trajectory-computation/"
#COMPUTATION_FILEPATH = "../../data/tidy/"
energy_df = fread("F:/data/raw/energy-consumption-08-20.csv") # Read in energy data
d_ridership = fread("F:/data/raw/ridership-2019-2020.csv")# Read in ridership data

# Bin variables creation and aggregate table

In [4]:
# aggregrate_trajectory_table
line_aggregation = function(year,month){
    assign("dg",fread(paste0(DISTANCE_FILEPATH, paste(paste("green", "trajectory", year, month, sep = "-", collapse = ""), ".csv", sep=""))))
    assign("dh",fread(paste0(DISTANCE_FILEPATH, paste(paste("heavy", "trajectory", year, month, sep = "-", collapse = ""), ".csv", sep=""))))
    dg$lineid = 4
    dg = subset(dg, select = c(trxtime, year, month, day, lineid, lat, lon , speed_kph , accel_mps2 , interval_seconds , dist_meters , vehicleid))
    dh = subset(dh, select = c(trxtime, year, month, day, lineid, lat, lon , speed_kph , accel_mps2 , interval_seconds , dist_meters , vehicleid))
    df = rbind(dg, dh) 
    return(df)
}

In [5]:
df = line_aggregation(YEARLIST, MONTHLIST)

In [5]:
# Unit conversion
unit_transfer = function(df){
   df$hour = hour(df$trxtime)
   df$speed_mph = df$speed_kph*0.621371 #kph to mph
   df$distance_mile = df$dist_meters*0.000621371 #convert from meters to mile
   df$time_hr = df$interval_seconds/3600.0 #convert from seconds to hour
  return(df)
}

In [ ]:
# lineid == 1: red
# lineid ==2 : blue
# lineid == 3 : orange
# lineid == 4 : green

In [6]:
df = unit_transfer(df)

In [9]:
head(df)

  trxtime             year month day lineid lat      lon       speed_kph
1 2019-04-18 05:33:20 2019 4     18  4      42.33696 -71.25329  8.0063442
2 2019-04-18 05:50:21 2019 4     18  4      42.33689 -71.25384  0.1637829
3 2019-04-18 05:51:52 2019 4     18  4      42.33692 -71.25150  7.6248225
4 2019-04-18 05:52:04 2019 4     18  4      42.33666 -71.25081 19.2882000
5 2019-04-18 07:25:46 2019 4     18  4      42.33506 -71.24777 43.9152862
6 2019-04-18 07:25:53 2019 4     18  4      42.33443 -71.24654 63.6469734
  accel_mps2   interval_seconds dist_meters vehicleid hour speed_mph
1  0.060549294   12              26.68781     3653    5     4.9749101
2 -0.002133682 1021              46.45064     3653    5     0.1017699
3  0.022774846   91             192.73857     3653    5     4.7378436
4  0.269985590   12              64.29400     3653    5    11.9851281
5 -0.653300294    5              60.99345     3653    7    27.2876853
6  0.783003461    7             123.75800     3653    7    39.5483835
  distance_mile time_hr
1 0.01658303    0.003333333
2 0.02886308    0.283611111
3 0.11976216    0.025277778
4 0.03995043    0.003333333
5 0.03789956    0.001388889
6 0.07689963    0.001944444

In [10]:
# process for each line
for (line in 1:4){
    df = df[]
#     df = df[lineid = line]
}

[1] 1
[1] 2
[1] 3
[1] 4

In [ ]:
df_green = df[lineid == 4]
df_red = df[lineid == 1]
df_blue = df[lineid == 2]
df_orange = df[lineid == 3]

In [9]:
# Calculate the speed bins 
bin_speeds <- function (dataframe, num_bins,lineid) {
  dummy_cols = c(paste0("speed_bin_",1:num_bins,"_dummy","_",lineid))
  bin_time_cols = c(paste0("speed_bin_",1:num_bins,"_time_hr","_",lineid))
  cutpoints <- quantile(dataframe$speed_mph,seq(0, 1, 1/num_bins),na.rm=TRUE) 
  print(paste0("The speed bins are: ", cutpoints))
  for(n in seq(1, num_bins)) {
    if(n == 1){
     dataframe[, dummy_cols[n] := sapply(speed_mph,  function(x) ifelse (x < cutpoints[n+1], 1, 0))]
    }
    else if (n == num_bins){
     dataframe[, dummy_cols[n] := sapply(speed_mph,  function(x) ifelse (x >= cutpoints[num_bins], 1, 0))]
    }
    else {
    dataframe[, dummy_cols[n] := sapply(speed_mph,  function(x) ifelse (x >= cutpoints[n] & x < cutpoints[n + 1], 1, 0))]
    }
  }
 dataframe[, (bin_time_cols) := lapply(.SD, function(x) x * dataframe$time_hr ), .SDcols = dummy_cols]
 print(paste0("Percentage error of summed speed bin times = ", 
              round(100*(sum(colSums(dataframe %>% select(starts_with("speed_bin_") & ends_with("_time_hr")),na.rm=TRUE)) 
                         - sum(dataframe$time_hr, na.rm=TRUE))/sum(dataframe$time_hr, na.rm=TRUE),2), "%"))
 return(dataframe) 
}

In [10]:
# Calculate the acceleration bins 
bin_accelerations <- function (dataframe, num_bins) {
  dummy_cols = c(paste0("accel_bin_",1:num_bins,"_dummy"))
  bin_time_cols = c(paste0("accel_bin_",1:num_bins,"_time_hr"))
  cutpoints <- quantile(dataframe$accel_mps2,seq(0, 1, 1/num_bins),na.rm=TRUE) 
  print(paste0("The acceleration bins are: ", cutpoints))
  for(n in seq(1, num_bins)) {
    if(n == 1){
      dataframe[, dummy_cols[n] := sapply(accel_mps2,  function(x) ifelse (x < cutpoints[n+1], 1, 0))]
    }
    else if (n == num_bins){
      dataframe[, dummy_cols[n] := sapply(accel_mps2,  function(x) ifelse (x >= cutpoints[num_bins], 1, 0))]
    }
    else {
      dataframe[, dummy_cols[n] := sapply(accel_mps2,  function(x) ifelse (x >= cutpoints[n] & x < cutpoints[n + 1], 1, 0))]
    }
  }
  dataframe[, (bin_time_cols) := lapply(.SD, function(x) x * dataframe$time_hr ), .SDcols = dummy_cols]
  print(paste0("Percentage error of summed acceleration bin times = ", 
               round(100*(sum(colSums(dataframe %>% select(starts_with("accel_bin_") & ends_with("_time_hr")),na.rm=TRUE)) 
                          - sum(dataframe$time_hr, na.rm=TRUE))/sum(dataframe$time_hr, na.rm=TRUE),2), "%"))                                                  
  return(dataframe)
}

In [37]:
# add speed-acceleration bin interaction terms
bin_interaction_terms = function(df, num_speed_bins, num_accel_bins){
    print("Computing speed-acceleration interaction times")
    dummy_interaction_cols = c()
    for (i in seq(1, num_speed_bins)){
        speed_dummy = paste0("speed_bin_", i, "_dummy")
        for (j in seq(1, num_accel_bins)){
            # add interaction dummy variables
            accel_dummy = paste0("accel_bin_", j, "_dummy") 
            dummy_interaction_col = paste0("speed_bin_", i, "_", "accel_bin_", j)
            dummy_interaction_cols = c(dummy_interaction_cols, dummy_interaction_col) 
            print(dummy_interaction_cols)
            #update list of interaction columns
            set(df, j = dummy_interaction_col, value = df[[speed_dummy]]*df[[accel_dummy]])
        }
    }
    df[, paste0(dummy_interaction_cols, "_time_hr") := lapply(.SD, function(x) x * df$time_hr ), .SDcols = dummy_interaction_cols]
    print("Done")
    return(df)
}

In [39]:
# Aggregate dataframe at hour level
hour_aggregate <- function (dataframe,num_bins) {
    dataframe$month = as.character(dataframe$month)
    dataframe$hour = as.character(dataframe$hour)
    dataframe$day = as.character(dataframe$day)
    # create another data table to summary the number of trains running in each hour
    d_num_trains <- dataframe[, c("month",'hour',"day","lineid","vehicleid")]
    agg_d_num_trains = d_num_trains[, .(count = length(unique(vehicleid))), by = .(month,day,hour,lineid)]
    agg_d_num_trains_wide = spread(agg_d_num_trains, lineid,count)
   # interaction term name preparation for aggregating by hour
    speed_name = paste0("speed_bin_",1:num_bins)
    accel_name = paste0("_","accel_bin_",1:num_bins,"_time_hr")
    interaction_name = outer(speed_name,accel_name, paste, sep="")
    # aggregate by hour
    sum_cols = c("distance_mile","time_hr",paste0("speed_bin_",1:num_bins,"_time_hr"),paste0("accel_bin_",1:num_bins,"_time_hr"),interaction_name)
    agg_df = dataframe[, lapply( .SD, sum , na.rm=TRUE), by = c("year","month",'hour',"day"), .SDcols = sum_cols]
    avg_interval_speed_mph_df = dataframe[, lapply( .SD, mean , na.rm=TRUE), by = c("year","month","hour","day"), .SDcols = 'speed_mph']
    agg_df[, 'avg_interval_speed_mph'] = avg_interval_speed_mph_df$speed_mph
    agg_df[, 'avg_hour_speed_mph'] = agg_df$distance_mile/agg_df$time_hr
    merged_agg_df = merge(agg_d_num_trains_wide,agg_df,all=T) 
    return( merged_agg_df)
}

In [81]:
# Combine ridership data
merge_ridership = function(merged_dt,d_ridership){
   merged_dt$year = as.character(merged_dt$year)
   d_ridership$year = as.character(year(d_ridership$servicedate))
   d_ridership$month = as.character(month(d_ridership$servicedate))
   d_ridership$day = as.character(day(d_ridership$servicedate))
   d_ridership$hour = as.character(hour(d_ridership$halfhour))
   d_ridership = d_ridership[,sum(rawtaps_split),by = .(year, month, day,hour)] 
   names(d_ridership)[names(d_ridership) == 'V1'] <- 'ridership'
   merged_db = merge(merged_dt,d_ridership,by = c("year","month","day","hour"),all=F) 
   return(merged_db)
}

In [85]:
# Combine energy consumption data
merge_energy <- function (energy_df,hour_dt) {
    # Melt by hour 
    melted_energy_df = melt(energy_df, id.vars=c('Year','Month','Day of Month','WJ','TAVG'), measure.vars = paste0("Hour ",1:24))
        colnames(melted_energy_df) = c('year', 'month', 'day', 'weekends', 'TAVG', 'Hour', 'energy_MWh')
    hour_energy_dt <- setDT(melted_energy_df)
    hour_energy_dt[, Hour := str_replace(Hour, "Hour ", "")]
    hour_energy_dt$Hour = as.numeric(hour_energy_dt$Hour)
    hour_energy_dt$Hour = hour_energy_dt$Hour - 1
    colnames(hour_energy_dt)[6] <- 'hour'
    hour_energy_dt$year = as.character(hour_energy_dt$year)
    hour_energy_dt$month = as.character(hour_energy_dt$month)
    hour_energy_dt$day = as.character(hour_energy_dt$day)
    hour_energy_dt$hour = as.character(hour_energy_dt$hour)
    merged_dt = merge(hour_dt,hour_energy_dt,by = c("year","month","day","hour") , all = F)
    return(merged_dt)
}

## Computing the final table

In [8]:
main <- function (num_bins,energy_df,d_ridership,YEARLIST,MONTHLIST) {
    for (y in YEARLIST) {
        for (m in MONTHLIST) {
             # Read the raw aggregation data
             interval_df = line_aggregation(y,m)
            # process for each line
             interval_agg <- interval_df %>% unit_transfer（) %>% bin_speeds(num_bins) %>% 
             bin_accelerations(num_bins) %>% bin_interaction_terms(num_bins) %>% hour_aggregate(num_bins)
             # merge with ridership
             merge_ridership = merge_ridership(interval_agg,d_ridership)
             # merge with energy table
             merge_energy = merge_energy(energy_df, merge_ridership)
             write.csv(merge_energy,file.path(paste0(COMPUTATION_FILEPATH, paste(paste("green", "trajectory", "aggregation" , y, m , sep = "-", collapse = ""), ".csv", sep=""))))
            }
      }
   
}

In [9]:
main(8,energy_df,d_ridership,YEARLIST,MONTHLIST)

   V1             trxtime trainid vehicleid routeid counter lineid      lat
1:  1 2019-04-18 05:33:20   10001      3653       0   25599      4 42.33696
2:  2 2019-04-18 05:50:21   10001      3653       0   27350      4 42.33689
3:  3 2019-04-18 05:51:52   10001      3653       0   27585      4 42.33692
4:  4 2019-04-18 05:52:04   10001      3653       0   27624      4 42.33666
5:  5 2019-04-18 07:25:46   10002      3653     852   48005      4 42.33506
6:  6 2019-04-18 07:25:53   10002      3653     852   48030      4 42.33443
         lon servicetypeid sourceid car1 car2 car3 speed heading
1: -71.25329             1        1 3653   NA   NA  1.97   25.19
2: -71.25384             1        1 3653   NA   NA  6.09   24.92
3: -71.25150             1        1 3653   NA   NA 15.29  123.31
4: -71.25081             1        1 3653   NA   NA 20.47  124.89
5: -71.24777             1        1 3653 3842   NA 33.42  124.03
6: -71.24654             1        1 3653 3842   NA 33.57  123.81
               rcvtime lastavi            inserted day month year
1: 2019-04-18 05:33:20       0 2019-04-19 11:42:03  18     4 2019
2: 2019-04-18 05:50:22       0 2019-04-19 11:42:03  18     4 2019
3: 2019-04-18 05:51:52       0 2019-04-19 11:42:03  18     4 2019
4: 2019-04-18 05:52:04       0 2019-04-19 11:42:03  18     4 2019
5: 2019-04-18 07:25:47      34 2019-04-19 11:42:03  18     4 2019
6: 2019-04-18 07:25:53      34 2019-04-19 11:42:03  18     4 2019
                  time trajid interval_seconds dist_meters   speed_mps
1: 2019-04-18 05:33:20      1               12    26.68781  2.22398449
2: 2019-04-18 05:50:21      1             1021    46.45064  0.04549524
3: 2019-04-18 05:51:52      1               91   192.73857  2.11800624
4: 2019-04-18 05:52:04      1               12    64.29400  5.35783333
5: 2019-04-18 07:25:46      2                5    60.99345 12.19869060
6: 2019-04-18 07:25:53      2                7   123.75800 17.67971483
    speed_kph   accel_mps2 cumdist_km cumtime_hrs
1:  8.0063442  0.060549294 0.05364089 0.008333333
2:  0.1637829 -0.002133682 0.10009153 0.291944444
3:  7.6248225  0.022774846 0.29283009 0.317222222
4: 19.2882000  0.269985590 0.35712409 0.320555556
5: 43.9152862 -0.653300294 0.12285422 0.002500000
6: 63.6469734  0.783003461 0.24661223 0.004444444
   V1             trxtime trainid vehicleid routeid counter lineid      lat
1:  1 2019-07-01 00:34:29   10001      3699       0    3487      4 42.33689
2:  2 2019-07-01 00:48:14   10001      3699       0    4567      4 42.33680
3:  3 2019-07-01 00:52:09   10001      3699       0    4808      4 42.33689
4:  4 2019-07-01 00:57:45   10001      3699       0    5086      4 42.33680
5:  5 2019-07-01 01:00:04   10001      3699       0    5202      4 42.33689
6:  6 2019-07-01 01:00:28   10001      3699       0    5222      4 42.33680
         lon servicetypeid sourceid car1 car2 car3 speed heading
1: -71.25384             1        1 3699   NA   NA     0   26.25
2: -71.25352             1        1 3699   NA   NA     0   26.25
3: -71.25384             1        1 3699   NA   NA     0   26.25
4: -71.25352             1        1 3699   NA   NA     0   26.25
5: -71.25384             1        1 3699   NA   NA     0   26.25
6: -71.25352             1        1 3699   NA   NA     0   26.25
               rcvtime lastavi            inserted day month year
1: 2019-07-01 00:34:30       0 2019-07-01 11:07:00   1     7 2019
2: 2019-07-01 00:48:15       0 2019-07-01 11:07:00   1     7 2019
3: 2019-07-01 00:52:09       0 2019-07-01 11:07:00   1     7 2019
4: 2019-07-01 00:57:46       0 2019-07-01 11:07:00   1     7 2019
5: 2019-07-01 01:00:05       0 2019-07-01 11:07:00   1     7 2019
6: 2019-07-01 01:00:29       0 2019-07-01 11:07:00   1     7 2019
                  time trajid interval_seconds dist_meters  speed_mps speed_kph
1: 2019-07-01 00:34:29      1              594       28.65 0.04823233 0.1736364
2: 2019-07-01 00:48:14      1              825       28.65 0.03472728 0.1250182
3: 2019-07-01 00:52:09      1              235       28.65 0.12191491 0.4388937
4: 2019-07-01 00:57:45      1              336       28.65 0.08526787 0.3069643
5: 2019-07-01 01:00:04      1              139       28.65 0.20611513 0.7420145
6: 2019-07-01 01:00:28      1               24       28.65 1.19375013 4.2975005
      accel_mps2 cumdist_km cumtime_hrs
1:  1.855982e-05 0.05730001   0.3788889
2: -1.636976e-05 0.08595001   0.6080556
3:  3.710112e-04 0.11460001   0.6733333
4: -1.090686e-04 0.14325002   0.7666667
5:  8.694048e-04 0.17190002   0.8052778
6:  4.115146e-02 0.20055002   0.8119444