# Data preprocessing and model preparation

In [5]:
library(data.table) #fread
library(dplyr)
library(geosphere) # Calculate vehicle distance
library(lubridate)# Date column extraction

Warning message:
"package 'data.table' was built under R version 3.6.3"

Attaching package: 'dplyr'


The following objects are masked from 'package:data.table':

    between, first, last


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"package 'geosphere' was built under R version 3.6.3"

Attaching package: 'lubridate'


The following objects are masked from 'package:data.table':

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following object is masked from 'package:base':

    date

In [6]:
# adjust the R limit
memory.limit(size=249200)

[1] 249200

### Input location data and data preprocessing

In [7]:
# Read data from folder
# Suggestion: Just do one year at one time. One year's table has 94363502 rows(green)
yearlist = c('19')
monthlist = c("01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12") #FOR FULL TABLE
distance_filepath = "../../data/raw/vehicle-location/"
# aggregrate_trajectory_table
trajectory_table_combination = function(yearlist,monthlist){
    for (year in yearlist) {
        for (month in monthlist) {
        assign(paste("dg", year, month, sep=""), fread(paste(distance_filepath, paste("lightrail", "trajectories", month, year, ".csv", sep = "-", collapse = ""), sep="")))
        assign(paste("dh", year, month, sep=""), fread(paste(distance_filepath, paste("heavyrail", "trajectories", month, year, ".csv", sep = "-", collapse = ""), sep="")))
        }
    }
   # Combine the original tables to a single one for analysis
   dg = rbind(dg1901,dg1902,dg1903,dg1904,dg1905,dg1906,dg1907,dg1908,dg1909,dg1910,dg1911,dg1912)
   dh = rbind(dh1901,dh1902,dh1903,dh1904,dh1905,dh1906,dh1907,dh1908,dh1909,dh1910,dh1911,dh1912)
   dg = subset(dg,select = c(trxtime,trainid,lineid,lat,lon))
   dh = subset(dh,select = c(trxtime,trainid,lineid,lat,lon))
   df = rbind(dg,dh)
   return(df)
}

In [8]:
df_trajectory_table = trajectory_table_combination(yearlist,monthlist)

In [9]:
head(df_trajectory_table)

  trxtime             trainid lineid lat      lon
1 2019-01-01 23:59:59 10415   4      42.31891 -71.21649
2 2019-01-01 23:59:42 10018   4      42.35164 -71.07172
3 2019-01-01 23:59:26 10262   4      42.34763 -71.10144
4 2019-01-01 23:59:23 10172   4      42.35927 -71.05945
5 2019-01-01 23:59:47 10444   4      42.35301 -71.06454
6 2019-01-01 23:59:16 10075   4      42.35986 -71.05891

### Experimental section

In [10]:
d_test = df_trajectory_table[1:1000,]

In [46]:
# Data preprocessing
preprocess_data = function(df){
    # Add time column to do analysis by random time scale
     df$day = day(df$trxtime)
     df$month = month(df$trxtime)
     df$year = year(df$trxtime)
    # check the na values ratio
     df_na = df[(is.na(df$lon)) | (is.na(df$lat)),]
     df_na_rate = nrow(df_na)/nrow(df)
    # remove the rows with values of lat and lon are 0
     df = df[!(is.na(df$lon)) | !(is.na(df$lat)),] 
     df = df[order(df$trainid, df$trxtime),]
     df = distinct(df,trxtime, trainid, .keep_all = TRUE) # Remove the duplicated time record
    return(df)
}

In [47]:
preprocess_data(d_test)

ERROR: Error in return(df, df_na_rate): multi-argument returns are not permitted

In [ ]:
# All speed are mph
# Green line
## Branch main 8.6
## Branch B 7.1
## Branch C 7.9
## Branch D 18.7
## Branch E 7.1
# Red line 
## A 16.7
## B 20.1
# Orange line 18.3
# Blue line 18.6
# Ref: https://www.fixmbta.com/green-line-upgrades

In [31]:
head(d_test)

  trxtime             trainid lineid lat      lon
1 2019-01-01 23:59:59 10415   4      42.31891 -71.21649
2 2019-01-01 23:59:42 10018   4      42.35164 -71.07172
3 2019-01-01 23:59:26 10262   4      42.34763 -71.10144
4 2019-01-01 23:59:23 10172   4      42.35927 -71.05945
5 2019-01-01 23:59:47 10444   4      42.35301 -71.06454
6 2019-01-01 23:59:16 10075   4      42.35986 -71.05891

### Vehicle distance,speed, acceleration calculation and correction

In [126]:
# Correct table computation
correct_compute_variables <- function(d) {
    d$dist_meters = NA
    d$interval_seconds = NA
    d$speed_mps = NA
    d$speed_kph = NA
    d$accel_mps2 = NA
    n <- nrow(d)
    if (n >= 2) {
        # Compute interval distance using Haversine function
        d$dist_meters[2:n] = distHaversine(cbind(d$lon[1:n-1],d$lat[1:n-1]),cbind(d$lon[2:n],d$lat[2:n]))
        # Compute time interval
        d$interval_seconds[2:n] = as.numeric(difftime(d$trxtime[2:n], d$trxtime[1:n-1], units = "secs"))
        # Compute speed in meters per second
        d$speed_mps[2:n] = d$dist_meters[2:n] / d$interval_seconds[2:n]
        d$speed_kph[2:n] = d$speed_mps[2:n]*3.6
        d$accel_mps2[2:n] = (d$speed_mps[2:n] - d$speed_mps[1:n-1])/d$interval_seconds[2:n]
         # revise the incorrect values 
        for(k in 2:n) { 
            if (!(is.na(d$speed_kph[k]))) {
                if (d$speed_kph[k] > 128 ){
                # the reference link is here:
                # https://www.masslive.com/worcester/2019/09/electrified-faster-and-more-trains-7-ways-the-mbtas-commuter-rail-service-could-be-a-lot-better.html
                     d$speed_kph[k] = d$speed_kph[k-1]
                     d$speed_mps[k] = d$speed_kph[k] / 3.6
                     d$accel_mps2[k] = (d$speed_mps[k]-d$speed_mps[k-1]) / d$interval_seconds[k]
                     d$dist_meters[k] = d$speed_mps[k] * d$interval_seconds[k]  
                 }
             }
         } 
     }
    return(d
}

In [125]:
# Process calculation for four lines
results.df = data.frame() # empty dataframe
compute_trajectory = function(data){
 for(i in unique(data$day)) { 
    if (i <= 31) { # define when the loop will end
        data.day <- data[data$day == i, ]
        for (j in unique(data.day$trainid)) {# Put each train in one loop in a subset
            data.day.train = data.day[data.day$trainid == j, ]        
            results <- compute_variables(data.day.train) # Process data with only one row separately        
            results.df <- rbind(results.df, results)
         # put all the results in one table
          }
       }
    }
    return(results.df)
 # Save the results for one year
# write.csv(x=results.df,file.path("../../data/tidy/", paste("rail_distances",yearlist,monthlist,".csv",sep = "-",collapse = "")))
}

### Summarize the excessive value

In [138]:
# For making sure the data structure is same, please generate the df_trajectory_table firstly
d_excessive_speed = d_test[0,]
d_excessive_speed$dist_meters = NA
d_excessive_speed$interval_seconds = NA
d_excessive_speed$speed_mps = NA
d_excessive_speed$speed_kph = NA
d_excessive_speed$accel_mps2 = NA
# Function to compute distances (D), speeds (S) and acceleration (A) in meters, meters per second, km per hour and m s^-2
excessive_speed <- function(d) {
    d$dist_meters = NA
    d$interval_seconds = NA
    d$speed_mps = NA
    d$speed_kph = NA
    d$accel_mps2 = NA
    n <- nrow(d)
    if (n >= 2) {
        # Compute interval distance using Haversine function
        d$dist_meters[2:n] = distHaversine(cbind(d$lon[1:n-1],d$lat[1:n-1]),cbind(d$lon[2:n],d$lat[2:n]))
        # Compute time interval
        d$interval_seconds[2:n] = as.numeric(difftime(d$trxtime[2:n], d$trxtime[1:n-1], units = "secs"))
        # Compute speed in meters per second
        d$speed_mps[2:n] = d$dist_meters[2:n] / d$interval_seconds[2:n]
        d$speed_kph[2:n] = d$speed_mps[2:n]*3.6
        d$accel_mps2[2:n] = (d$speed_mps[2:n] - d$speed_mps[1:n-1])/d$interval_seconds[2:n]
         # revise the incorrect values 
        for(k in 2:n) { 
            if (!(is.na(d$speed_kph[k]))) {
                if (d$speed_kph[k] > 128 ){
                    # put all excessive values to one single table
                    d_excessive_speed = rbind(d_excessive_speed,as.vector(d[k]))
                # the reference link is here:
                # https://www.masslive.com/worcester/2019/09/electrified-faster-and-more-trains-7-ways-the-mbtas-commuter-rail-service-could-be-a-lot-better.html
                     d$speed_kph[k] = d$speed_kph[k-1]
                     d$speed_mps[k] = d$speed_kph[k] / 3.6
                     d$accel_mps2[k] = (d$speed_mps[k]-d$speed_mps[k-1]) / d$interval_seconds[k]
                     d$dist_meters[k] = d$speed_mps[k] * d$interval_seconds[k]  
                 }
             }
         } 
     }
    return(list(d,d_excessive_speed))
}

In [139]:
# Process calculation for four lines
results.df = data.frame() # empty dataframe
excessive_speed_table = function(data){
 for(i in unique(data$day)) { 
    if (i <= 31) { # define when the loop will end
        data.day <- data[data$day == i, ]
        for (j in unique(data.day$trainid)) {# Put each train in one loop in a subset
            data.day.train = data.day[data.day$trainid == j, ]       
            results <- excessive_speed(data.day.train)
            # Process data with only one row separately        
            results.df <- rbind(results.df, results)
         # put all the results in one table
          }
       }
    }
    return(results.df)
 # Save the results for one year
# write.csv(x=results.df,file.path("../../data/tidy/", paste("rail_distances",yearlist,monthlist,".csv",sep = "-",collapse = "")))
}

In [131]:
d_test

    trxtime             trainid lineid lat      lon       day month year
1   2019-01-01 03:00:21 10012   4      42.33728 -71.25358 1   1     2019
2   2019-01-01 03:02:09 10012   4      42.33738 -71.25332 1   1     2019
3   2019-01-01 23:59:42 10018   4      42.35164 -71.07172 1   1     2019
4   2019-01-01 03:00:20 10045   4      42.34002 -71.16640 1   1     2019
5   2019-01-01 03:00:37 10045   4      42.34027 -71.16688 1   1     2019
6   2019-01-01 03:01:33 10049   4      42.35164 -71.07172 1   1     2019
7   2019-01-01 03:02:20 10049   4      42.35018 -71.07710 1   1     2019
8   2019-01-01 03:03:46 10049   4      42.34996 -71.07792 1   1     2019
9   2019-01-01 03:01:27 10070   4      42.34791 -71.08631 1   1     2019
10  2019-01-01 03:02:07 10070   4      42.34809 -71.08845 1   1     2019
11  2019-01-01 03:02:11 10070   4      42.34809 -71.08845 1   1     2019
12  2019-01-01 03:02:17 10070   4      42.34806 -71.08969 1   1     2019
13  2019-01-01 03:02:40 10070   4      42.34811 -71.09211 1   1     2019
14  2019-01-01 03:03:28 10070   4      42.34897 -71.09328 1   1     2019
15  2019-01-01 03:03:33 10070   4      42.34897 -71.09328 1   1     2019
16  2019-01-01 03:03:38 10070   4      42.34898 -71.09414 1   1     2019
17  2019-01-01 03:03:51 10070   4      42.34894 -71.09527 1   1     2019
18  2019-01-01 03:00:07 10072   4      42.33680 -71.25352 1   1     2019
19  2019-01-01 03:02:25 10072   4      42.33668 -71.25398 1   1     2019
20  2019-01-01 03:02:37 10072   4      42.33680 -71.25352 1   1     2019
21  2019-01-01 03:02:43 10072   4      42.33668 -71.25398 1   1     2019
22  2019-01-01 23:59:16 10075   4      42.35986 -71.05891 1   1     2019
23  2019-01-01 03:00:07 10076   4      42.34791 -71.08631 1   1     2019
24  2019-01-01 03:00:10 10076   4      42.34809 -71.08845 1   1     2019
25  2019-01-01 03:00:13 10076   4      42.34806 -71.08969 1   1     2019
26  2019-01-01 03:00:29 10076   4      42.34811 -71.09211 1   1     2019
27  2019-01-01 03:01:15 10076   4      42.34897 -71.09328 1   1     2019
28  2019-01-01 03:01:18 10076   4      42.34897 -71.09328 1   1     2019
29  2019-01-01 03:01:26 10076   4      42.34898 -71.09414 1   1     2019
30  2019-01-01 03:01:41 10076   4      42.34904 -71.09528 1   1     2019
... ...                 ...     ...    ...      ...       ... ...   ...
275 2019-01-01 03:03:19 10436   4      42.33680 -71.25352 1   1     2019
276 2019-01-01 03:03:25 10436   4      42.33680 -71.25352 1   1     2019
277 2019-01-01 03:03:31 10436   4      42.33680 -71.25352 1   1     2019
278 2019-01-01 03:03:37 10436   4      42.33680 -71.25352 1   1     2019
279 2019-01-01 03:03:43 10436   4      42.33680 -71.25352 1   1     2019
280 2019-01-01 03:03:49 10436   4      42.33680 -71.25352 1   1     2019
281 2019-01-01 03:03:55 10436   4      42.33680 -71.25352 1   1     2019
282 2019-01-01 03:04:01 10436   4      42.33680 -71.25352 1   1     2019
283 2019-01-01 03:04:07 10436   4      42.33680 -71.25352 1   1     2019
284 2019-01-01 03:04:13 10436   4      42.33680 -71.25352 1   1     2019
285 2019-01-01 23:59:47 10444   4      42.35301 -71.06454 1   1     2019
286 2019-01-01 03:01:59 10483   4      42.33525 -71.14855 1   1     2019
287 2019-01-01 03:02:59 10483   4      42.33546 -71.14940 1   1     2019
288 2019-01-01 03:03:05 10483   4      42.33525 -71.14855 1   1     2019
289 2019-01-01 03:00:03 10485   4      42.33658 -71.25367 1   1     2019
290 2019-01-01 03:03:15 10485   4      42.33645 -71.25413 1   1     2019
291 2019-01-01 03:00:06 10488   4      42.36609 -71.06298 1   1     2019
292 2019-01-01 03:00:32 10488   4      42.36574 -71.06466 1   1     2019
293 2019-01-01 03:00:35 10488   4      42.36574 -71.06466 1   1     2019
294 2019-01-01 03:01:10 10488   4      42.36672 -71.06772 1   1     2019
295 2019-01-01 03:01:16 10488   4      42.36691 -71.06811 1   1     2019
296 2019-01-01 03:01:23 10488   4      42.36758 -71.06944 1   1     2019
297 2019-01-01 03:01:52 10488   4      42.36857 -71.07138 1   1     2019
298 2019-01-01 03:02:24 10488   4      42.36960 -71.07338 1   1     2019
299 2019-01-01 03:02:53 10488   4      42.37062 -71.07564 1   1     2019
300 2019-01-01 03:04:03 10488   4      42.37108 -71.07723 1   1     2019
301 2019-01-01 03:00:20 10489   4      42.36857 -71.07138 1   1     2019
302 2019-01-01 03:00:48 10489   4      42.36960 -71.07338 1   1     2019
303 2019-01-01 03:01:16 10489   4      42.37062 -71.07564 1   1     2019
304 2019-01-01 03:01:30 10489   4      42.37108 -71.07723 1   1     2019

In [132]:
# Generate the summary table
d_correct = compute_trajectory(d_test)
d_excessive_speed_table = excessive_speed_table(d_test)

In [135]:
d_correct = na.omit(d_correct)

In [136]:
# Generate the summary table
summary_computation = data.frame(d_excessive_speed_rate = nrow(d_excessive_speed_table)/nrow(d_correct),excessive_speed_mean = mean(d_excessive_speed_table$speed_kph),excessive_speed_max = max(d_excessive_speed_table$speed_kph),excessive_speed_min = min(d_excessive_speed_table$speed_kph),max_correct = max(d_correct$speed_kph),
                         min_correct = min(d_correct$speed_kph),mean_correct = mean(d_correct$speed_kph))

In [137]:
summary_computation

  d_excessive_speed_rate excessive_speed_mean excessive_speed_max
1 0.003759398            212.3691             212.3691
  excessive_speed_min max_correct min_correct mean_correct
1 212.3691            121.8748    0           27.97609

### Experimental section

In [ ]:
#  # Count the row numbers which lat and lon are NA
#      df_na = df[(is.na(data$lon)) | (is.na(data$lat)),]
#      number_na = nrow(df_na)

In [ ]:
# # Process value correction
#         for(k in 2:n) { 
#                 # revise the incorrect values 
#                 if (!(is.na(d$speed_kph[k]))) {
#                     if (d$speed_kph[k] > 128 ){
#                        # the reference link is here:
#                        # https://www.masslive.com/worcester/2019/09/electrified-faster-and-more-trains-7-ways-the-mbtas-commuter-rail-service-could-be-a-lot-better.html
#                          if(k==3){d$speed_kph[k] = d$speed_kph[k+1]}
#                          else{
#                         d$speed_kph[k] = (d$speed_kph[k-1] + d$speed_kph[k+1] )/2
#                         d$speed_mps[k] = d$speed_kph[k] / 3.6
#                         d$accel_mps2[k] = (d$speed_mps[k]-d$speed_mps[k-1]) / d$interval_seconds[k]
#                         d$dist_meters[k] = d$speed_mps[k] * d$interval_seconds[k]}
#                         else if (k == nrows(d)){d$speed_kph[k] = d$speed_kph[k-1]}
#                     }
#                 }
#     }