# Data preprocessing and model preparation

In [1]:
library(data.table) #fread
library(dplyr)
library(geosphere) # Calculate vehicle distance
library(lubridate)# Date column extraction

Warning message:
"package 'data.table' was built under R version 3.6.3"

Attaching package: 'dplyr'


The following objects are masked from 'package:data.table':

    between, first, last


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"package 'geosphere' was built under R version 3.6.3"

Attaching package: 'lubridate'


The following objects are masked from 'package:data.table':

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following object is masked from 'package:base':

    date

In [2]:
# adjust the R limit
memory.limit(size=249200)

[1] 249200

### Input location data and data preprocessing

In [3]:
# Read data from folder
# Suggestion: Just do one year at one time. One year's table has 94363502 rows(green)
yearlist = c('19')
monthlist = c("01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12") #FOR FULL TABLE
distance_filepath = "../../data/raw/vehicle-location/"
# aggregrate_trajectory_table
trajectory_table_combination = function(yearlist,monthlist){
    for (year in yearlist) {
        for (month in monthlist) {
        assign(paste("dg", year, month, sep=""), fread(paste(distance_filepath, paste("lightrail", "trajectories", month, year, ".csv", sep = "-", collapse = ""), sep="")))
        assign(paste("dh", year, month, sep=""), fread(paste(distance_filepath, paste("heavyrail", "trajectories", month, year, ".csv", sep = "-", collapse = ""), sep="")))
        }
    }
   # Combine the original tables to a single one for analysis
   dg = rbind(dg1901,dg1902,dg1903,dg1904,dg1905,dg1906,dg1907,dg1908,dg1909,dg1910,dg1911,dg1912)
   dh = rbind(dh1901,dh1902,dh1903,dh1904,dh1905,dh1906,dh1907,dh1908,dh1909,dh1910,dh1911,dh1912)
   dg = subset(dg,select = c(trxtime,trainid,lineid,lat,lon))
   dh = subset(dh,select = c(trxtime,trainid,lineid,lat,lon))
   df = rbind(dg,dh)
   return(df)
}

In [4]:
df_trajectory_table = trajectory_table_combination(yearlist,monthlist)

In [8]:
head(df_trajectory_table)

  trxtime             trainid lineid lat      lon       day month year
1 2019-01-01 23:59:59 10415   4      42.31891 -71.21649 1   1     2019
2 2019-01-01 23:59:42 10018   4      42.35164 -71.07172 1   1     2019
3 2019-01-01 23:59:26 10262   4      42.34763 -71.10144 1   1     2019
4 2019-01-01 23:59:23 10172   4      42.35927 -71.05945 1   1     2019
5 2019-01-01 23:59:47 10444   4      42.35301 -71.06454 1   1     2019
6 2019-01-01 23:59:16 10075   4      42.35986 -71.05891 1   1     2019

### Experimental section

In [98]:
dim(d_test)

[1] 26834325        8

In [96]:
# Data preprocessing
preprocess_data = function(df){
    # Add time column to do analysis by random time scale
     df$day = day(df$trxtime)
     df$month = month(df$trxtime)
     df$year = year(df$trxtime)
    # check the na values ratio
     df_na = df[(is.na(df$lon)) | (is.na(df$lat)),]
     df_na_rate = nrow(df_na)/nrow(df)
    # remove the rows with values of lat and lon are 0
     df = df[!(is.na(df$lon)) | !(is.na(df$lat)),] 
     df = df[order(df$trainid, df$trxtime),]
     df = distinct(df,trxtime, trainid, .keep_all = TRUE) # Remove the duplicated time record
    return(df_na_rate)
}

In [97]:
preprocess_data(d_test)

[1] 0

In [ ]:
# All speed are mph
# Green line
## Branch main 8.6
## Branch B 7.1
## Branch C 7.9
## Branch D 18.7
## Branch E 7.1
# Red line 
## A 16.7
## B 20.1
# Orange line 18.3
# Blue line 18.6
# Ref: https://www.fixmbta.com/green-line-upgrades

In [102]:
head(d_test)

  trxtime             trainid lineid lat      lon       day month year
1 2019-01-01 23:59:59 10415   4      42.31891 -71.21649 1   1     2019
2 2019-01-01 23:59:42 10018   4      42.35164 -71.07172 1   1     2019
3 2019-01-01 23:59:26 10262   4      42.34763 -71.10144 1   1     2019
4 2019-01-01 23:59:23 10172   4      42.35927 -71.05945 1   1     2019
5 2019-01-01 23:59:47 10444   4      42.35301 -71.06454 1   1     2019
6 2019-01-01 23:59:16 10075   4      42.35986 -71.05891 1   1     2019

### Vehicle distance,speed, acceleration calculation

In [104]:
# For making sure the data structure is same, please generate the df_trajectory_table firstly
d_outlier = df_trajectory_table[0,]
# Function to compute distances (D), speeds (S) and acceleration (A) in meters, meters per second, km per hour and m s^-2
compute_variables <- function(d) {
    d$dist_meters=NA
    d$interval_seconds=NA
    d$speed_mps=NA
    d$speed_kph=NA
    d$accel_mps2=NA
    n <- nrow(d)
    if (n >= 2) {
        # Compute interval distance using Haversine function
        d$dist_meters[2:n] = distHaversine(cbind(d$lon[1:n-1],d$lat[1:n-1]),cbind(d$lon[2:n],d$lat[2:n]))
        # Compute time interval
        d$interval_seconds[2:n] = as.numeric(difftime(d$trxtime[2:n], d$trxtime[1:n-1], units = "secs"))
        # Compute speed in meters per second
        d$speed_mps[2:n] = d$dist_meters[2:n] / d$interval_seconds[2:n]
        d$speed_kph[2:n] = d$speed_mps[2:n]*3.6
        d$accel_mps2[2:n] = (d$speed_mps[2:n] - d$speed_mps[1:n-1])/d$interval_seconds[2:n]
         # revise the incorrect values 
        for(k in 2:n) { 
            if (!(is.na(d$speed_kph[k]))) {
                if (d$speed_kph[k] > 128 ){
                    # put all excessive values to one single table
                    d_outlier = rbind(d_outlier,as.vector(d[k,1:8]))
                # the reference link is here:
                # https://www.masslive.com/worcester/2019/09/electrified-faster-and-more-trains-7-ways-the-mbtas-commuter-rail-service-could-be-a-lot-better.html
                     d$speed_kph[k] = d$speed_kph[k-1]
                     d$speed_mps[k] = d$speed_kph[k] / 3.6
                     d$accel_mps2[k] = (d$speed_mps[k]-d$speed_mps[k-1]) / d$interval_seconds[k]
                     d$dist_meters[k] = d$speed_mps[k] * d$interval_seconds[k]  
                 }
             }
         }    
     } 
}
summary_computation = data.frame(outlier_rate = nrow(d_outlier)/nrow(d),outlier_mean = mean(d_outlier$speed_kph),outlier_max = max(d_outlier$speed_kph),outlier_min = min(d_outlier$speed_kph),max_correct = max(d$speed_kph),
                         min_correct = min(d$speed_kph),mean_correct = (d$speed_kph))

In [105]:
# Process calculation for four lines
results.df = data.frame() # empty dataframe
compute_trajectory = function(data){
 for(i in unique(data$day)) { 
    if (i <= 31) { # define when the loop will end
        data.day <- data[data$day == i, ]
        for (j in unique(data.day$trainid)) {# Put each train in one loop in a subset
            data.day.train = data.day[data.day$trainid == j, ]        
            results <- compute_variables(data.day.train) # Process data with only one row separately        
            results.df <- rbind(results.df, results) # put all the results in one table
          }
       }
    }
 # Save the results for one year
# write.csv(x=results.df,file.path("../../data/tidy/", paste("rail_distances",yearlist,monthlist,".csv",sep = "-",collapse = "")))
    return(results.df)
}

In [89]:
d_test

     trxtime             trainid    lineid lat      lon       day month year
1    2019-01-01 04:00:00 10001      4      42.33701 -71.25349 1   1     2019
2    2019-01-01 04:00:01 10002      4      42.33668 -71.25398 1   1     2019
3    2019-01-01 04:00:01 10003      4      42.33623 -71.25426 1   1     2019
4    2019-01-01 04:00:02 10004      4      42.33689 -71.25384 1   1     2019
5    2019-01-01 03:57:15 10005      4      42.33569 -71.25421 1   1     2019
6    2019-01-01 04:00:03 10006      4      42.33645 -71.25413 1   1     2019
7    2019-01-01 04:00:12 10007      4      42.33584 -71.14817 1   1     2019
8    2019-01-01 04:05:31 10008      4      42.33680 -71.25352 1   1     2019
9    2019-01-01 04:09:23 10009      4      42.33591 -71.25405 1   1     2019
10   2019-01-01 04:16:27 10010      4      42.33728 -71.25358 1   1     2019
11   2019-01-01 04:23:09 10011      4      42.33668 -71.25398 1   1     2019
12   2019-01-01 03:00:21 10012      4      42.33728 -71.25358 1   1     2019
13   2019-01-01 05:13:38 10013      4      42.33546 -71.14940 1   1     2019
14   2019-01-01 05:18:19 10014      4      42.33658 -71.25367 1   1     2019
15   2019-01-01 05:21:49 10015      4      42.34012 -71.16402 1   1     2019
16   2019-01-01 05:22:55 10016      4      42.33728 -71.25358 1   1     2019
17   2019-01-01 05:25:18 10017      4      42.33692 -71.25150 1   1     2019
18   2019-01-01 05:32:41 10018      4      42.33998 -71.16642 1   1     2019
19   2019-01-01 05:32:43 10019      4      42.33641 -71.14817 1   1     2019
20   2019-01-01 05:35:22 10020      4      42.37061 -71.07579 1   1     2019
21   2019-01-01 05:40:09 10021      4      42.33649 -71.25061 1   1     2019
22   2019-01-01 05:41:54 10022      4      42.33641 -71.14817 1   1     2019
23   2019-01-01 05:44:46 10023      4      42.34012 -71.16402 1   1     2019
24   2019-01-01 05:45:10 10024      4      42.33635 -71.25379 1   1     2019
25   2019-01-01 05:47:17 10025      4      42.33635 -71.25379 1   1     2019
26   2019-01-01 05:51:31 10026      4      42.37061 -71.07579 1   1     2019
27   2019-01-01 05:51:38 10027      4      42.33613 -71.25391 1   1     2019
28   2019-01-01 06:11:45 10028      4       0.00000   0.00000 1   1     2019
29   2019-01-01 05:53:34 10029      4      42.33649 -71.25061 1   1     2019
30   2019-01-01 05:53:37 10030      4      42.33641 -71.14817 1   1     2019
...  ...                 ...        ...    ...      ...       ... ...   ...
9873 2020-01-01 00:00:37 1415709726 2      42.37435 -71.03017 1   1     2020
9874 2020-01-01 00:00:20 1415709731 1      42.28323 -71.06299 1   1     2020
9875 2020-01-01 00:00:09 1415709732 3      42.39536 -71.07730 1   1     2020
9876 2020-01-01 00:00:21 1415709733 2      42.36115 -71.06208 1   1     2020
9877 2020-01-01 00:01:01 1415709734 2      42.36923 -71.03944 1   1     2020
9878 2020-01-01 00:00:11 1415709736 3      42.42462 -71.07519 1   1     2020
9879 2020-01-01 00:00:10 1415709737 1      42.33022 -71.05700 1   1     2020
9880 2020-01-01 00:05:47 1415709739 3      42.43649 -71.07094 1   1     2020
9881 2020-01-01 00:04:58 1415709742 3      42.42861 -71.07350 1   1     2020
9882 2020-01-01 00:00:37 1415709749 1      42.32233 -71.05275 1   1     2020
9883 2020-01-01 00:00:16 1415709751 2      42.38632 -71.00652 1   1     2020
9884 2020-01-01 00:00:35 1415709753 3      42.39404 -71.07723 1   1     2020
9885 2020-01-01 00:00:14 1415709781 3      42.43589 -71.07110 1   1     2020
9886 2020-01-01 00:00:20 1415709973 1      42.28643 -71.06448 1   1     2020
9887 2020-01-01 00:00:27 1415710047 1      42.37636 -71.11910 1   1     2020
9888 2020-01-01 00:00:36 1415710125 1      42.36525 -71.10323 1   1     2020
9889 2020-01-01 00:00:04 1415710171 3      42.31005 -71.10796 1   1     2020
9890 2020-01-01 00:00:18 1415710172 3      42.36912 -71.06372 1   1     2020
9891 2020-01-01 00:00:06 1415710236 2      42.35937 -71.05298 1   1     2020
9892 2020-01-01 00:00:32 1415710255 2      42.39601 -70.99340 1   1     2020
9893 2020-01-01 00:04:06 1415710273 2      42.41512 -70.99082 1   1     2020
9894 2020-01-01 00:00:31 1415710276 1      42.29076 -71.06530 1   1     2020
9895 2020-01-01 00:00:16 1415710309 1      42.35266 -71.05536 1   1     2020
9896 2020-01-01 00:00:42 1415710312 1      42.37230 -71.11585 1   1     2020
9897 2020-01-01 00:00:08 1415710327 1      42.37246 -71.11586 1   1     2020
9898 2020-01-01 00:00:19 1415710358 1      42.36126 -71.07162 1   1     2020
9899 2020-01-01 00:00:32 1415710505 3      42.35406 -71.06190 1   1     2020
9900 2020-01-01 00:00:25 1415710566 1      42.35591 -71.06149 1   1     2020
9901 2020-01-01 00:00:52 1415710986 1      42.33170 -71.05700 1   1     2020
9902 2020-01-01 00:06:19 1415711051 3      42.40370 -71.07738 1   1     2020

In [ ]:
compute_trajectory(d_test)

In [88]:
d_test_result

### Experimental section

In [ ]:
#  # Count the row numbers which lat and lon are NA
#      df_na = df[(is.na(data$lon)) | (is.na(data$lat)),]
#      number_na = nrow(df_na)

In [ ]:
# # Process value correction
#         for(k in 2:n) { 
#                 # revise the incorrect values 
#                 if (!(is.na(d$speed_kph[k]))) {
#                     if (d$speed_kph[k] > 128 ){
#                        # the reference link is here:
#                        # https://www.masslive.com/worcester/2019/09/electrified-faster-and-more-trains-7-ways-the-mbtas-commuter-rail-service-could-be-a-lot-better.html
#                          if(k==3){d$speed_kph[k] = d$speed_kph[k+1]}
#                          else{
#                         d$speed_kph[k] = (d$speed_kph[k-1] + d$speed_kph[k+1] )/2
#                         d$speed_mps[k] = d$speed_kph[k] / 3.6
#                         d$accel_mps2[k] = (d$speed_mps[k]-d$speed_mps[k-1]) / d$interval_seconds[k]
#                         d$dist_meters[k] = d$speed_mps[k] * d$interval_seconds[k]}
#                         else if (k == nrows(d)){d$speed_kph[k] = d$speed_kph[k-1]}
#                     }
#                 }
#     }