# Data preprocessing and model preparation

In [1]:
library(data.table) #fread
library(dplyr)
library(geosphere) # Calculate vehicle distance
library(lubridate)# Date column extraction

Warning message:
"package 'data.table' was built under R version 3.6.3"

Attaching package: 'dplyr'


The following objects are masked from 'package:data.table':

    between, first, last


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"package 'geosphere' was built under R version 3.6.3"

Attaching package: 'lubridate'


The following objects are masked from 'package:data.table':

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following object is masked from 'package:base':

    date

In [2]:
# adjust the R limit
memory.limit(size=249200)

[1] 249200

### Input location data and data preprocessing

In [3]:
# Read data from folder
# Suggestion: Just do one year at one time. One year's table has 94363502 rows(green)
yearlist = c('19')
monthlist = c("01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12") #FOR FULL TABLE
distance_filepath = "../../data/raw/vehicle-location/"
# aggregrate_trajectory_table
trajectory_table_combination = function(yearlist,monthlist){
    for (year in yearlist) {
        for (month in monthlist) {
        assign(paste("dg", year, month, sep=""), fread(paste(distance_filepath, paste("lightrail", "trajectories", month, year, ".csv", sep = "-", collapse = ""), sep="")))
        assign(paste("dh", year, month, sep=""), fread(paste(distance_filepath, paste("heavyrail", "trajectories", month, year, ".csv", sep = "-", collapse = ""), sep="")))
        }
    }
   # Combine the original tables to a single one for analysis
   dg = rbind(dg1901,dg1902,dg1903,dg1904,dg1905,dg1906,dg1907,dg1908,dg1909,dg1910,dg1911,dg1912)
   dh = rbind(dh1901,dh1902,dh1903,dh1904,dh1905,dh1906,dh1907,dh1908,dh1909,dh1910,dh1911,dh1912)
   dg = subset(dg,select = c(trxtime,trainid,lineid,lat,lon))
   dh = subset(dh,select = c(trxtime,trainid,lineid,lat,lon))
   df = rbind(dg,dh)
   return(df)
}

In [4]:
df_trajectory_table = trajectory_table_combination(yearlist,monthlist)

In [8]:
head(df_trajectory_table)

  trxtime             trainid lineid lat      lon       day month year
1 2019-01-01 23:59:59 10415   4      42.31891 -71.21649 1   1     2019
2 2019-01-01 23:59:42 10018   4      42.35164 -71.07172 1   1     2019
3 2019-01-01 23:59:26 10262   4      42.34763 -71.10144 1   1     2019
4 2019-01-01 23:59:23 10172   4      42.35927 -71.05945 1   1     2019
5 2019-01-01 23:59:47 10444   4      42.35301 -71.06454 1   1     2019
6 2019-01-01 23:59:16 10075   4      42.35986 -71.05891 1   1     2019

### Experimental section

In [7]:
df_trajectory_table$day = day(df_trajectory_table$trxtime)
df_trajectory_table$month = month(df_trajectory_table$trxtime)
df_trajectory_table$year = year(df_trajectory_table$trxtime)

In [9]:
d_test = subset(df_trajectory_table,month <= 6)

In [20]:
head(d_test)

  trxtime             trainid lineid lat      lon       day month year
1 2019-01-01 04:00:00 10001   4      42.33701 -71.25349 1   1     2019
2 2019-01-01 04:00:01 10002   4      42.33668 -71.25398 1   1     2019
3 2019-01-01 04:00:01 10003   4      42.33623 -71.25426 1   1     2019
4 2019-01-01 04:00:02 10004   4      42.33689 -71.25384 1   1     2019
5 2019-01-01 03:57:15 10005   4      42.33569 -71.25421 1   1     2019
6 2019-01-01 04:00:03 10006   4      42.33645 -71.25413 1   1     2019

In [26]:
m =data.frame(trxtime = "",trainid = "",lineid = "",lat = "",lon = "",day = "",month = "",year = "")

In [28]:
m[1,]=d_test[1,]

Warning message in `[<-.factor`(`*tmp*`, iseq, value = "2019-01-01 04:00:00"):
"invalid factor level, NA generated"
Warning message in `[<-.factor`(`*tmp*`, iseq, value = 10001L):
"invalid factor level, NA generated"
Warning message in `[<-.factor`(`*tmp*`, iseq, value = 4L):
"invalid factor level, NA generated"
Warning message in `[<-.factor`(`*tmp*`, iseq, value = 42.3370133669658):
"invalid factor level, NA generated"
Warning message in `[<-.factor`(`*tmp*`, iseq, value = -71.2534896219172):
"invalid factor level, NA generated"
Warning message in `[<-.factor`(`*tmp*`, iseq, value = 1L):
"invalid factor level, NA generated"
Warning message in `[<-.factor`(`*tmp*`, iseq, value = 1):
"invalid factor level, NA generated"
Warning message in `[<-.factor`(`*tmp*`, iseq, value = 2019):
"invalid factor level, NA generated"

In [24]:
m

  trxtime
1 2019-01-01 04:00:00

In [14]:
# check the na values ratio
na_rate = function(df){
df_na = df[(is.na(df$lon)) | (is.na(df$lat)),]
df_na_rate = nrow(df_na)/nrow(df)
}

In [7]:
# Data preprocessing
preprocess_data = function(df){
    # Add time column to do analysis by random time scale
     df$day = day(df$trxtime)
     df$month = month(df$trxtime)
     df$year = year(df$trxtime)
    # check the na values ratio
     df_na = df[(is.na(df$lon)) | (is.na(df$lat)),]
     df_na_rate = nrow(df_na)/nrow(df)
    # remove the rows with values of lat and lon are 0
     df = df[!(is.na(df$lon)) | !(is.na(df$lat)),] 
     df = df[order(df$trainid, df$trxtime),]
     df = distinct(df,time, trainid, .keep_all = TRUE) # Remove the duplicated time record
    return(df_na_rate)
}

In [19]:
d_test = d_test[order(d_test$trainid, d_test$trxtime),]
d_test = distinct(d_test,trxtime, trainid, .keep_all = TRUE) # Remove the duplicated time record

In [8]:
df_trajectory_table = data_pre(df_trajectory_table)

ERROR: Error: object of type 'closure' is not subsettable

In [ ]:
# All speed are mph
# Green line
## Branch main 8.6
## Branch B 7.1
## Branch C 7.9
## Branch D 18.7
## Branch E 7.1
# Red line 
## A 16.7
## B 20.1
# Orange line 18.3
# Blue line 18.6
# Ref: https://www.fixmbta.com/green-line-upgrades

### Vehicle distance,speed, acceleration calculation

In [74]:
# Function to compute distances (D), speeds (S) and acceleration (A) in meters, meters per second, km per hour and m s^-2
d_outlier = data.frame(trxtime = "",trainid = "",lineid = "",lat = "",lon = "",day = "",month = "",year = "")
computeDSA <- function(d) {
    d$dist_meters=NA
    d$interval_seconds=NA
    d$speed_mps=NA
    d$speed_kph=NA
    d$accel_mps2=NA
    n <- nrow(d)
    if (n >= 2) {
        # Compute interval distance using Haversine function
        d$dist_meters[2:n] = distHaversine(cbind(d$lon[1:n-1],d$lat[1:n-1]),cbind(d$lon[2:n],d$lat[2:n]))
        # Compute time interval
        d$interval_seconds[2:n] = as.numeric(difftime(d$trxtime[2:n], d$trxtime[1:n-1], units = "secs"))
        # Compute speed in meters per second
        d$speed_mps[2:n] = d$dist_meters[2:n] / d$interval_seconds[2:n]
        d$speed_kph[2:n] = d$speed_mps[2:n]*3.6
        d$accel_mps2[2:n] = (d$speed_mps[2:n] - d$speed_mps[1:n-1])/d$interval_seconds[2:n]
        # mean(d[d$speed_kph > speed_threshold, speed_kph])
         # revise the incorrect values 
        for(k in 2:n) { 
            if (!(is.na(d$speed_kph[k]))) {
                if (d$speed_kph[k] > 128 ){
                    # when find one outlier table 
                    d_outlier[k] = d[k]
                # the reference link is here:
                # https://www.masslive.com/worcester/2019/09/electrified-faster-and-more-trains-7-ways-the-mbtas-commuter-rail-service-could-be-a-lot-better.html
                     d$speed_kph[k] = d$speed_kph[k-1]
                     d$speed_mps[k] = d$speed_kph[k] / 3.6
                     d$accel_mps2[k] = (d$speed_mps[k]-d$speed_mps[k-1]) / d$interval_seconds[k]
                     d$dist_meters[k] = d$speed_mps[k] * d$interval_seconds[k]  
               }
             }
           }    
         } 
    outlier_table = list(rate = nrow(d_outlier)/nrow(d),mean = mean(d_outlier$speed_kph),max = max(d_outlier$speed_kph),min = min(d_outlier$speed_kph))
    correct_table = list(max = max(d$speed_kph),min = min(d$speed_kph),mean = (d$speed_kph)
    return(outlier_table,correct_table)
}

In [75]:
# Process calculation for four lines
results.df = data.frame() # empty dataframe
compute_trajectory = function(data){
# 
for(i in unique(data$day)) { 
    if (i <= 31) { # define when the loop will end
        data.day <- data[data$day == i, ]
        for (j in unique(data.day$trainid)) {# Put each train in one loop in a subset
            data.day.train = data.day[data.day$trainid == j, ]        
            results <- computeDSA(data.day.train) # Process data with only one row separately        
            results.df <- rbind(results.df, results) # put all the results in one table
         }
     }
   }
 # Save the results for one year
write.csv(x=results.df,file.path("../../data/tidy/", paste("rail_distances",yearlist,monthlist,".csv",sep = "-",collapse = "")))
    return(results.df)
}

In [ ]:
# Save the results for one year
write.csv(x=results.df,file.path("../../data/tidy/", paste("rail_distances",yearlist,monthlist,".csv",sep = "-",collapse = "")))

### Experimental section

In [ ]:
#  # Count the row numbers which lat and lon are NA
#      df_na = df[(is.na(data$lon)) | (is.na(data$lat)),]
#      number_na = nrow(df_na)

In [ ]:
# # Process value correction
#         for(k in 2:n) { 
#                 # revise the incorrect values 
#                 if (!(is.na(d$speed_kph[k]))) {
#                     if (d$speed_kph[k] > 128 ){
#                        # the reference link is here:
#                        # https://www.masslive.com/worcester/2019/09/electrified-faster-and-more-trains-7-ways-the-mbtas-commuter-rail-service-could-be-a-lot-better.html
#                          if(k==3){d$speed_kph[k] = d$speed_kph[k+1]}
#                          else{
#                         d$speed_kph[k] = (d$speed_kph[k-1] + d$speed_kph[k+1] )/2
#                         d$speed_mps[k] = d$speed_kph[k] / 3.6
#                         d$accel_mps2[k] = (d$speed_mps[k]-d$speed_mps[k-1]) / d$interval_seconds[k]
#                         d$dist_meters[k] = d$speed_mps[k] * d$interval_seconds[k]}
#                         else if (k == nrows(d)){d$speed_kph[k] = d$speed_kph[k-1]}
#                     }
#                 }
#     }